@model List<FlyFashion.Models.Item>
@{
   
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Marketplace</title>
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/marketplace.css" />
</head>
<body>

    <div class="container-fluid">

        <div class="display-4 my-2 text-center text-primary" id="title">Marketplace</div>

        <div class="row justify-content-center">

            @foreach (var item in Model)
            {

                <div class="card text-left" style="width: 20rem; margin: 30px">
                    <img class="card-img-top" src="@item.Image" alt="image unavailable">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text text-body">Type: @item.Type</p>
                        <p class="card-text">Price: $@item.Price</p>
                        <p class="card-text">Season: @item.Season</p>
                        <p class="card-text">Colour: @item.Colour</p>
                        <p class="card-text">Condition: @item.Condition</p>
                        <p class="card-text">Contact/Notes: @item.Description</p>

                    </div>
                </div>
            }
        </div>

    </div>


</body>
</html>
